:root {
    --basic-black: #000000;
    --basic-extra-dark: #323232;
    --basic-dark: #aba9a7;
    --basic-neutral: #e5e5e5;
    --basic-extra-light: #FBFCFB;
    --basic-white: #ffffff;
    --basic-grey: #5A5A5A;

    --basic-neutral-green: #849D8F;
    --basic-red-gold: #FFBC9E;
    --special-one: #FBDED7;
    --special-second: #F6B5A5;
    --special: #663d15;
}

/* Global */

body {
    width: 1200px;
    height: 2419px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: var(--basic-white);
    background-color: var(--basic-neutral-green);
    background-image: url("../img/bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Логотип */

.main-header__logo {
    padding-left: 27px;
    padding-top: 9px;
}

/* Шапка */

.main-header {
    width: 1146px;
    height: 114px;
}

.main-header__line {
    display: flex;
}

/* Навигация */

.main-navigation {
    line-height: 20px;
    color: var(--basic-white);
    background-color: transparent;
}

.main-navigation__list {
    list-style: none;
}

.main-navigation__item {
    display: inline;
}

a.main-navigation__link {
    padding-right: 32px;
    padding-top: 32px;
}

a:link.main-navigation__link {
    color: var(--basic-white);
}

a:visited.main-navigation__link {
    color: var(--basic-white);
}

a:hover.main-navigation__link {
    color: var(--basic-extra-dark);
}

.user-navigation {
    list-style: none;
}

.user-navigation__item {
    display: inline;
}

a.user-navigation__link {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

a:link.user-navigation__link {
    color: var(--basic-white);
}

a:visited.user-navigation__link {
    color: var(--basic-white);
}

a:hover.user-navigation__link {
    color: var(--basic-extra-dark);
}

.work-info p {
    font-size: 14px;
    line-height: 16px;
}

.work-info a {
    font-size: 22px;
    line-height: 24px;
}

.work-info a:link {
    color: var(--basic-white);
}

.work-info a:visited {
    color: var(--basic-white)
}

.work-info a:hover {
    color: var(--basic-red-gold)
}

.work-info a:active {
    color: var(--basic-red-gold)
}

.navigation-form {
    width: 143px;
    height: 171px;
    align-items: center;
    color: var(--basic-extra-dark);
    background-color: var(--basic-white);
    list-style: none;
}

.navigation-form__item p {
    font-size: 14px;
    line-height: 18px;
}

.navigation-form__item a {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
}

.navigation-form__item a:hover {
    background-color: var(--special-one);
}

.navigation-form__item a:active {
    background-color: var(--special-second);
}

.find-form {
    width: 277px;
    height: 214px;
}

/* Подвал */

.main-footer {
    width: 1144px;
    height: 60px;
    display: flex;
    position: relative;
}

.social-list__item {
    display: inline;
    color: var(--basic-white);
    opacity: .8;
}

.navigatioin-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 327px;
    height: 37px;
}

.navigatioin-list__link {
    font-weight: normal;
}

a:link.navigatioin-list__link {
    color: var(--basic-white)
}

a:visited.navigatioin-list__link {
    color: var(--basic-white)
}

a:hover.navigatioin-list__link {
    color: var(--basic-red-gold)
}

a:active.navigatioin-list__link {
    color: var(--basic-red-gold)
}

.navigatioin-list__special {
    font-weight: bold;
}

.navigatioin-list__item a {
    font-size: 13px;
}

.copyright-list {
    list-style: none;
    width: 190px;
    height: 60px;
}

.copyright-list__item p {
    font-size: 12px;
    font-weight: normal;
}

.copyright-list__item a:link {
    color: var(--basic-white)
}

.copyright-list__item a:visited {
    color: var(--basic-white)
}

.copyright-list__item a:hover {
    color: var(--basic-red-gold)
}

.copyright-list__item a:active {
    color: var(--basic-red-gold)
}

/* ГЛАВНАЯ */

/* Слайдер */

.main-slider {
    text-align: center;
}

.main-slider h2 {
    font-size: 60px;
    line-height: 60px;
}

.main-slider a {
    font-size: 32px;
    line-height: 44px;
}

.main-slider a:link {
    color: var(--basic-white);
}

.main-slider a:visited {
    color: var(--basic-white);
}

.main-slider__list {
    list-style: none;
}

.main-slider__item {
    display: inline;
}

/* Блок топпингов */

.toppings__item {
    display: inline-block;
    width: 560px;
    height: 229px;
}

.toppings-raspberry {
    background-image: url("../img/raspberry_background.jpg");
}

.toppings-chocolate {
    background-image: url("../img/chocolate_background.jpg");
}

.toppings h2 {
    font-size: 35px;
    line-height: 41px;
}

.toppings p {
    font-size: 18px;
    line-height: 22px;
}

.toppings a {
    font-size: 18px;
    line-height: 24px;
}

/* Мороженки */

.catalog-list__item {
    width: 267px;
    height: 324px;
    display: inline-block;
}

.catalog-list__item h2 {
    font-weight: 500;
    text-align: center;
}

.catalog-item__value {
    font-size: 45px;
    line-height: 45px;
}

.catalog-item__heft {
    font-size: 30px;
    line-height: 35px;
}

.catalog-item__topic {
    line-height: 22px;
}

.catalog-item__topic a:link {
    color: var(--basic-white)
}

.catalog-item__topic a:visited {
    color: var(--basic-white)
}


/* Вафля блок */

.about-shop {
    width: 1146px;
    height: 306px;
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
}

.about-shop h1 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

.about-shop__item p {
    line-height: 22px;
    font-weight: normal;
}

/* Новое и подписка */

.information__item {
    display: inline-block;
    width: 560px;
    height: 220px;
}

.novelty {
    background-image: url("../img/strawberry_background.jpg");
    color: var(--basic-extra-dark);
}

.novelty__title p {
    line-height: 22px;
    font-weight: 500;
}

.novelty__title h2 {
    font-size: 24px;
    line-height: 30px;
}

.subscription {
    background-image: url("../img/bg-post.svg");
}

.subscription p {
    font-weight: normal;
    line-height: 22px;
    color: var(--basic-grey);
}

.subscription__button {
    font-size: 18px;
    line-height: 24px;
}

/* Карта */



/* КАТАЛОГ */

.breadcrumbs__list {
    list-style: none;
}

.breadcrumbs__item {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
}

a:link.breadcrumbs__link {
    color: var(--basic-white);
}

a:visited.breadcrumbs__link {
    color: var(--basic-white);
}

a:hover.breadcrumbs__link {
    color: var(--basic-red-gold);
}

a:active.breadcrumbs__link {
    color: var(--basic-red-gold);
}

h1 {
    font-size: 35px;
    line-height: 41px;
}

.pagination {
    list-style: none;
}

.pagination__list {
    display: inline-block;
}

a:link.pagination__link {
    color: var(--basic-white);
}

a:visited.pagination__link {
    color: var(--basic-white);
}

a:hover.pagination__link {
    color: var(--basic-red-gold);
}

a:active.pagination__link {
    color: var(--basic-red-gold);
}